In [141]:
# Importing necessary libraries for data processing and visualizing
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier
from sklearn import preprocessing
from sklearn.ensemble import GradientBoostingClassifier
from scipy.stats import chi2_contingency
sns.set_style('whitegrid')
%matplotlib inline

In [142]:
# Algorithms
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [143]:
train_df = pd.read_csv("C:/Users/dell/Documents/Amex Analyse This/development_dataset.csv")
lead_df    = pd.read_csv("C:/Users/dell/Documents/Amex Analyse This/leaderboard_dataset.csv")
train_df.head(10)

,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,...,VAR12,VAR13,VAR14,VAR15,VAR16,VAR17,VAR18,VAR19,VAR20,VAR21
0,1,828.235294,0.138889,321.428571,625.911006,1.818182,1.081550,198.113469,NaN,58.632548,...,100.083403,1.000000,1,1.000000,1.540594,NaN,1,0,100.104991,Low
1,2,911.764706,0.027778,NaN,611.574748,8.181818,1.344479,198.600020,22.086661,NaN,...,15.012510,NaN,1,NaN,1.614613,NaN,0,1,146.654045,High
2,3,962.352941,0.833333,35.714286,615.825381,8.181818,0.720796,197.267767,NaN,58.632548,...,210.175146,10.000000,1,10.000000,1.044599,NaN,0,0,98.249570,Medium
3,4,892.941177,NaN,NaN,638.076431,9.090909,0.820218,197.355744,4.363431,58.632548,...,NaN,NaN,1,NaN,1.145729,NaN,1,0,140.862306,Low
4,5,914.117647,0.083333,NaN,626.514988,5.181818,1.372928,198.790477,85.938202,58.632548,...,210.175146,NaN,1,NaN,1.558341,NaN,1,0,101.268503,High
5,6,794.117647,0.117700,178.571429,624.065797,12.727273,0.665458,197.251700,107.066619,58.632548,...,NaN,2.000000,1,2.000000,1.037051,34.83,0,0,379.736661,Low
6,7,987.058823,NaN,35.714286,611.574748,NaN,0.970320,197.831747,22.086661,NaN,...,NaN,NaN,1,6.000000,1.161463,1000.00,0,1,146.382100,Low
7,8,921.176471,0.138889,NaN,612.660165,18.181818,0.585291,196.956773,71.123926,58.632548,...,80.066722,5.133333,1,5.133333,0.975338,894.33,1,0,103.776248,Medium
8,9,947.058823,NaN,821.428571,648.330121,23.636364,0.782048,200.301604,NaN,58.632548,...,20.016681,9.733333,1,11.000000,1.141355,1000.00,1,0,96.337349,Low
9,10,940.000000,0.137778,107.142857,611.574748,9.090909,0.559710,196.911295,22.086661,47.899686,...,NaN,9.200000,1,9.200000,0.959315,1000.00,1,0,113.433735,Medium

In [144]:

train_df.describe()

,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,VAR11,VAR12,VAR13,VAR14,VAR15,VAR16,VAR17,VAR18,VAR19,VAR20
count,34000.000000,33039.000000,30615.000000,21506.000000,33999.000000,30505.000000,33165.000000,33165.000000,18183.000000,29450.000000,26435.000000,23498.000000,25478.000000,34000.000000,25976.000000,33134.000000,11806.000000,34000.000000,34000.000000,34000.000000
mean,17000.500000,917.391603,1.119596,248.076201,631.571391,15.290028,2.055295,200.007169,53.988554,56.497320,5.429062,117.283667,11.679589,1.532118,12.453257,2.092006,821.281092,0.400029,0.298059,161.355950
std,9815.098913,50.222389,12.714724,241.167723,30.863288,29.123815,8.960891,11.282223,84.573655,6.861058,11.433905,120.628594,11.063966,1.134593,12.084965,8.051804,262.338240,0.684850,0.457412,123.231136
min,1.000000,730.588235,0.001333,18.928571,347.053355,0.005000,0.353228,0.000000,0.004278,13.028620,0.000693,0.834028,0.082667,0.000000,0.133333,0.959315,0.130000,0.000000,0.000000,0.000000
25%,8500.750000,882.352941,0.083333,71.428571,611.691167,6.636364,0.691201,197.196716,8.784613,57.458373,0.638239,15.012510,5.666667,1.000000,6.666667,1.040125,732.662500,0.000000,0.000000,104.385542
50%,17000.500000,924.705882,0.166667,142.857143,619.802909,10.000000,0.998093,197.912501,22.086661,58.632548,2.098360,80.066722,10.000000,1.000000,10.000000,1.262747,965.345000,0.000000,0.000000,117.493115
75%,25500.250000,956.470588,0.555556,357.142857,637.450565,18.181818,1.735250,199.687427,58.559811,58.632548,6.043179,193.494579,15.333333,2.000000,16.400000,1.827486,1000.000000,1.000000,1.000000,159.446213
max,34000.000000,1000.000000,1000.000000,1000.000000,1000.000000,909.090818,681.582083,1000.000000,993.061289,1000.000000,824.334457,1000.000000,775.000000,104.000000,775.000000,1000.000000,1000.000000,14.000000,1.000000,1000.000000

In [145]:

#p-values 
csq=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR1']))
print("P-value: ",csq[1])

P-value:  0.4971152474673175

In [146]:
csq2=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR2']))
print("P-value2: ",csq2[1])
csq3=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR3']))
print("P-value3: ",csq3[1])
csq4=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR4']))
print("P-value4: ",csq4[1])
csq5=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR5']))
print("P-value5: ",csq5[1])
csq6=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR6']))
print("P-value6: ",csq6[1])
csq7=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR7']))
print("P-value7: ",csq7[1])
csq8=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR8']))
print("P-value8: ",csq8[1])
csq9=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR9']))
print("P-value9: ",csq9[1])
csq10=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR10']))
print("P-value10: ",csq10[1])
csq11=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR11']))
print("P-value11: ",csq11[1])
csq12=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR12']))
print("P-value12: ",csq12[1])
csq13=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR13']))
print("P-value13: ",csq13[1])
csq14=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR14']))
print("P-value14: ",csq14[1])
csq15=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR15']))
print("P-value15: ",csq15[1])
csq16=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR16']))
print("P-value16: ",csq16[1])
csq17=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR17']))
print("P-value17: ",csq17[1])
csq18=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR18']))
print("P-value18: ",csq18[1])
csq19=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR19']))
print("P-value19: ",csq19[1])
csq20=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR20']))
print("P-value20: ",csq20[1])

P-value2:  1.7954912006859962e-53
P-value3:  1.6672656291935392e-55
P-value4:  9.97325047055592e-40
P-value5:  0.09445022268120797
P-value6:  3.639060587488527e-14
P-value7:  0.06366398660730926
P-value8:  0.026471698972571296
P-value9:  0.9050285747851228
P-value10:  1.7174615345626927e-09
P-value11:  0.00399098166209345
P-value12:  7.649542417423549e-19
P-value13:  3.7573326054240604e-11
P-value14:  3.3188939388460655e-07
P-value15:  1.5889719046340706e-07
P-value16:  0.031130531878641853
P-value17:  0.1623751615632789
P-value18:  4.426161326205789e-13
P-value19:  1.463341497475776e-17
P-value20:  4.479172357092041e-25

In [147]:
num=['VAR2','VAR3','VAR4','VAR5','VAR6','VAR7','VAR8','VAR9','VAR10','VAR11','VAR12','VAR13','VAR14','VAR15','VAR16','VAR17','VAR18','VAR19','VAR20']

In [148]:
#correlation coefficient
corr_df=train_df[num]
cor= corr_df.corr(method='pearson')
print(cor)

           VAR2      VAR3      VAR4      VAR5      VAR6      VAR7      VAR8  \
VAR2   1.000000  0.001972 -0.520364 -0.198825  0.024563 -0.027956 -0.049848
VAR3   0.001972  1.000000 -0.006435  0.007076  0.026434  0.018932  0.025569
VAR4  -0.520364 -0.006435  1.000000  0.209725 -0.026012  0.016341  0.063607
VAR5  -0.198825  0.007076  0.209725  1.000000  0.028062  0.075235  0.202366
VAR6   0.024563  0.026434 -0.026012  0.028062  1.000000  0.092884  0.129908
VAR7  -0.027956  0.018932  0.016341  0.075235  0.092884  1.000000  0.701303
VAR8  -0.049848  0.025569  0.063607  0.202366  0.129908  0.701303  1.000000
VAR9  -0.005974  0.005590  0.014895  0.155101 -0.019285 -0.034977 -0.026960
VAR10  0.044978 -0.000101 -0.033471  0.141205  0.136964 -0.036209 -0.068156
VAR11 -0.170889  0.008638  0.199767  0.081221  0.052466  0.065382  0.131838
VAR12  0.145806  0.077644 -0.100896 -0.054978  0.032335 -0.005929  0.001510
VAR13  0.131859  0.017939 -0.079159 -0.050700  0.132180  0.067227  0.103310
VAR14 -0.041604  0.005758  0.056374  0.027990  0.042723  0.138345  0.179485
VAR15  0.100009  0.016350 -0.042410 -0.036232  0.119386  0.065214  0.104720
VAR16 -0.024563  0.016033  0.015877  0.066837  0.073232  0.924227  0.492394
VAR17 -0.171372 -0.014700  0.172705  0.102895 -0.056091 -0.019672  0.004885
VAR18  0.062919  0.013064 -0.037142  0.034296  0.049143  0.024797  0.041071
VAR19 -0.064833  0.004490  0.115342 -0.130859  0.083432  0.115910  0.166366
VAR20 -0.103261  0.018308  0.050940  0.229492  0.073296  0.113370  0.168116

           VAR9     VAR10     VAR11     VAR12     VAR13     VAR14     VAR15  \
VAR2  -0.005974  0.044978 -0.170889  0.145806  0.131859 -0.041604  0.100009
VAR3   0.005590 -0.000101  0.008638  0.077644  0.017939  0.005758  0.016350
VAR4   0.014895 -0.033471  0.199767 -0.100896 -0.079159  0.056374 -0.042410
VAR5   0.155101  0.141205  0.081221 -0.054978 -0.050700  0.027990 -0.036232
VAR6  -0.019285  0.136964  0.052466  0.032335  0.132180  0.042723  0.119386
VAR7  -0.034977 -0.036209  0.065382 -0.005929  0.067227  0.138345  0.065214
VAR8  -0.026960 -0.068156  0.131838  0.001510  0.103310  0.179485  0.104720
VAR9   1.000000  0.131755 -0.011615  0.015459  0.010221 -0.035911  0.005955
VAR10  0.131755  1.000000 -0.051732  0.031744 -0.019574 -0.082287 -0.027619
VAR11 -0.011615 -0.051732  1.000000  0.029827  0.491042  0.044576  0.639427
VAR12  0.015459  0.031744  0.029827  1.000000  0.096458 -0.021936  0.094280
VAR13  0.010221 -0.019574  0.491042  0.096458  1.000000  0.035002  0.886041
VAR14 -0.035911 -0.082287  0.044576 -0.021936  0.035002  1.000000  0.038965
VAR15  0.005955 -0.027619  0.639427  0.094280  0.886041  0.038965  1.000000
VAR16 -0.027507 -0.027206  0.047821 -0.007881  0.051289  0.117505  0.049600
VAR17 -0.034184 -0.017345  0.103471 -0.044315 -0.088487 -0.035433 -0.054586
VAR18  0.007195  0.018898  0.026608  0.076527  0.058514 -0.018106  0.055073
VAR19 -0.218252 -0.248395  0.079181  0.034649  0.072172  0.298023  0.077516
VAR20 -0.031862 -0.021122  0.076796 -0.069696  0.029699  0.014140  0.033875

          VAR16     VAR17     VAR18     VAR19     VAR20
VAR2  -0.024563 -0.171372  0.062919 -0.064833 -0.103261
VAR3   0.016033 -0.014700  0.013064  0.004490  0.018308
VAR4   0.015877  0.172705 -0.037142  0.115342  0.050940
VAR5   0.066837  0.102895  0.034296 -0.130859  0.229492
VAR6   0.073232 -0.056091  0.049143  0.083432  0.073296
VAR7   0.924227 -0.019672  0.024797  0.115910  0.113370
VAR8   0.492394  0.004885  0.041071  0.166366  0.168116
VAR9  -0.027507 -0.034184  0.007195 -0.218252 -0.031862
VAR10 -0.027206 -0.017345  0.018898 -0.248395 -0.021122
VAR11  0.047821  0.103471  0.026608  0.079181  0.076796
VAR12 -0.007881 -0.044315  0.076527  0.034649 -0.069696
VAR13  0.051289 -0.088487  0.058514  0.072172  0.029699
VAR14  0.117505 -0.035433 -0.018106  0.298023  0.014140
VAR15  0.049600 -0.054586  0.055073  0.077516  0.033875
VAR16  1.000000 -0.011827  0.020018  0.098064  0.096646
VAR17 -0.011827  1.000000 -0.039487  0.016165  0.039175
VAR18  0.020018 -0.039487  1.000000  0.028553  0.098638
VAR19  0.098064  0.016165  0.028553  1.000000  0.092336
VAR20  0.096646  0.039175  0.098638  0.092336  1.000000

In [149]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34000 entries, 0 to 33999
Data columns (total 21 columns):
VAR1     34000 non-null int64
VAR2     33039 non-null float64
VAR3     30615 non-null float64
VAR4     21506 non-null float64
VAR5     33999 non-null float64
VAR6     30505 non-null float64
VAR7     33165 non-null float64
VAR8     33165 non-null float64
VAR9     18183 non-null float64
VAR10    29450 non-null float64
VAR11    26435 non-null float64
VAR12    23498 non-null float64
VAR13    25478 non-null float64
VAR14    34000 non-null int64
VAR15    25976 non-null float64
VAR16    33134 non-null float64
VAR17    11806 non-null float64
VAR18    34000 non-null int64
VAR19    34000 non-null int64
VAR20    34000 non-null float64
VAR21    34000 non-null object
dtypes: float64(16), int64(4), object(1)
memory usage: 5.4+ MB

In [150]:
# finding number of missing values
train_df.apply(lambda x : sum(x.isnull()),axis= 0)

VAR1         0
VAR2       961
VAR3      3385
VAR4     12494
VAR5         1
VAR6      3495
VAR7       835
VAR8       835
VAR9     15817
VAR10     4550
VAR11     7565
VAR12    10502
VAR13     8522
VAR14        0
VAR15     8024
VAR16      866
VAR17    22194
VAR18        0
VAR19        0
VAR20        0
VAR21        0
dtype: int64

In [151]:
train_df["VAR2"] = train_df["VAR2"].fillna(train_df["VAR2"].median())

In [116]:
# finding number of missing values
train_df.apply(lambda x : sum(x.isnull()),axis= 0)

VAR1         0
VAR2         0
VAR3      3385
VAR4     12494
VAR5         1
VAR6      3495
VAR7       835
VAR8       835
VAR9     15817
VAR10     4550
VAR11     7565
VAR12    10502
VAR13     8522
VAR14        0
VAR15     8024
VAR16      866
VAR17    22194
VAR18        0
VAR19        0
VAR20        0
VAR21        0
dtype: int64

In [117]:
train_df["VAR3"] = train_df["VAR3"].fillna(train_df["VAR3"].median())
train_df["VAR4"] = train_df["VAR4"].fillna(train_df["VAR4"].median())
train_df["VAR5"] = train_df["VAR5"].fillna(train_df["VAR5"].median())
train_df["VAR6"] = train_df["VAR6"].fillna(train_df["VAR6"].median())
train_df["VAR7"] = train_df["VAR7"].fillna(train_df["VAR7"].median())
train_df["VAR8"] = train_df["VAR8"].fillna(train_df["VAR8"].median())
train_df["VAR9"] = train_df["VAR9"].fillna(train_df["VAR9"].median())
train_df["VAR10"] = train_df["VAR10"].fillna(train_df["VAR10"].median())
train_df["VAR11"] = train_df["VAR11"].fillna(train_df["VAR11"].median())
train_df["VAR12"] = train_df["VAR12"].fillna(train_df["VAR12"].median())
train_df["VAR13"] = train_df["VAR13"].fillna(train_df["VAR13"].median())
train_df["VAR15"] = train_df["VAR15"].fillna(train_df["VAR15"].median())
train_df["VAR16"] = train_df["VAR16"].fillna(train_df["VAR16"].median())
train_df["VAR17"] = train_df["VAR17"].fillna(train_df["VAR17"].median())

In [118]:
# finding number of missing values
train_df.apply(lambda x : sum(x.isnull()),axis= 0)

VAR1     0
VAR2     0
VAR3     0
VAR4     0
VAR5     0
VAR6     0
VAR7     0
VAR8     0
VAR9     0
VAR10    0
VAR11    0
VAR12    0
VAR13    0
VAR14    0
VAR15    0
VAR16    0
VAR17    0
VAR18    0
VAR19    0
VAR20    0
VAR21    0
dtype: int64

In [119]:
lead_df["VAR3"] = lead_df["VAR3"].fillna(lead_df["VAR3"].median())
lead_df["VAR4"] = lead_df["VAR4"].fillna(lead_df["VAR4"].median())
lead_df["VAR5"] = lead_df["VAR5"].fillna(lead_df["VAR5"].median())
lead_df["VAR6"] = lead_df["VAR6"].fillna(lead_df["VAR6"].median())
lead_df["VAR7"] = lead_df["VAR7"].fillna(lead_df["VAR7"].median())
lead_df["VAR8"] = lead_df["VAR8"].fillna(lead_df["VAR8"].median())
lead_df["VAR9"] = lead_df["VAR9"].fillna(lead_df["VAR9"].median())
lead_df["VAR10"] = lead_df["VAR10"].fillna(lead_df["VAR10"].median())
lead_df["VAR11"] = lead_df["VAR11"].fillna(lead_df["VAR11"].median())
lead_df["VAR12"] = lead_df["VAR12"].fillna(lead_df["VAR12"].median())
lead_df["VAR13"] = lead_df["VAR13"].fillna(lead_df["VAR13"].median())
lead_df["VAR15"] = lead_df["VAR15"].fillna(lead_df["VAR15"].median())
lead_df["VAR16"] = lead_df["VAR16"].fillna(lead_df["VAR16"].median())
lead_df["VAR17"] = lead_df["VAR17"].fillna(lead_df["VAR17"].median())

In [120]:
# finding number of missing values
lead_df.apply(lambda x : sum(x.isnull()),axis= 0)

VAR1       0
VAR2     267
VAR3       0
VAR4       0
VAR5       0
VAR6       0
VAR7       0
VAR8       0
VAR9       0
VAR10      0
VAR11      0
VAR12      0
VAR13      0
VAR14      0
VAR15      0
VAR16      0
VAR17      0
VAR18      0
VAR19      0
VAR20      0
dtype: int64

In [121]:
lead_df["VAR2"] = lead_df["VAR2"].fillna(lead_df["VAR2"].median())

In [122]:
train_df=train_df.drop(['VAR1','VAR5','VAR9','VAR17'],axis=1)

In [123]:
lead_df=lead_df.drop(['VAR1','VAR5','VAR9','VAR17'],axis=1)

In [124]:
csq2=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR2']))
print("P-value2: ",csq2[1])
csq3=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR3']))
print("P-value3: ",csq3[1])
csq4=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR4']))
print("P-value4: ",csq4[1])

csq6=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR6']))
print("P-value6: ",csq6[1])

csq8=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR8']))
print("P-value8: ",csq8[1])

csq10=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR10']))
print("P-value10: ",csq10[1])
csq11=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR11']))
print("P-value11: ",csq11[1])
csq12=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR12']))
print("P-value12: ",csq12[1])
csq13=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR13']))
print("P-value13: ",csq13[1])
csq14=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR14']))
print("P-value14: ",csq14[1])
csq15=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR15']))
print("P-value15: ",csq15[1])
csq16=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR16']))
print("P-value16: ",csq16[1])

csq18=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR18']))
print("P-value18: ",csq18[1])
csq19=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR19']))
print("P-value19: ",csq19[1])
csq20=chi2_contingency(pd.crosstab(train_df['VAR21'], train_df['VAR20']))
print("P-value20: ",csq20[1])

P-value2:  3.472310273026355e-55
P-value3:  1.7904828875586947e-77
P-value4:  4.98082056121329e-66
P-value6:  9.60399109398737e-15
P-value8:  0.028697224271323273
P-value10:  3.327708242719476e-07
P-value11:  3.265677227162226e-08
P-value12:  7.266650406756621e-20
P-value13:  3.3466903839207538e-18
P-value14:  3.3188939388460655e-07
P-value15:  1.0364691966447886e-13
P-value16:  0.037362561049024565
P-value18:  4.426161326205789e-13
P-value19:  1.463341497475776e-17
P-value20:  4.479172357092041e-25

In [125]:
X_train = train_df.drop("VAR21", axis=1)
Y_train = train_df["VAR21"]
X_lead = lead_df

In [126]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [127]:
params = {
        'min_child_weight': [1, 5, 10],
        'gamma': [0.5, 1, 1.5, 2, 5],
        'subsample': [0.6, 0.8, 1.0],
        'colsample_bytree': [0.6,0.8,1],
        'max_depth': [9,10,11],
        }

In [128]:
xgb = XGBClassifier(learning_rate=0.01, n_estimators=600,objective='binary:logistic',booster='gbtree',random_state=100,
                    silent=True, nthread=1)

In [129]:
folds = 5
param_comb = 5
random_search = RandomizedSearchCV(xgb, param_distributions=params, n_iter=param_comb,  n_jobs=4,  verbose=3, random_state=0 )

In [130]:
random_search.fit(X_train, Y_train)

D:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 5 candidates, totalling 15 fits

[Parallel(n_jobs=4)]: Done  15 out of  15 | elapsed: 13.1min finished

RandomizedSearchCV(cv='warn', error_score='raise-deprecating',
          estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.01,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=600, n_jobs=1, nthread=1, objective='binary:logistic',
       random_state=100, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1, verbosity=1),
          fit_params=None, iid='warn', n_iter=5, n_jobs=4,
          param_distributions={'min_child_weight': [1, 5, 10], 'gamma': [0.5, 1, 1.5, 2, 5], 'subsample': [0.6, 0.8, 1.0], 'colsample_bytree': [0.6, 0.8, 1], 'max_depth': [9, 10, 11]},
          pre_dispatch='2*n_jobs', random_state=0, refit=True,
          return_train_score='warn', scoring=None, verbose=3)

In [96]:
print('\n Best estimator:')
print(random_search.best_estimator_)

 Best estimator:
XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.6, gamma=5,
       learning_rate=0.02, max_delta_step=0, max_depth=11,
       min_child_weight=10, missing=None, n_estimators=600, n_jobs=1,
       nthread=1, objective='multi:softprob', random_state=1000,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1.0, verbosity=1)

In [131]:
xgb_best = XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.6, gamma=5,
       learning_rate=0.02, max_delta_step=0, max_depth=11,
       min_child_weight=10, missing=None, n_estimators=600, n_jobs=1,
       nthread=1, objective='multi:softprob', random_state=1000,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1.0, verbosity=1)

In [133]:
folds = 5
param_comb = 5
random_search_best = RandomizedSearchCV(xgb_best, param_distributions={'scale_pos_weight':[1,2,6,12]}, n_iter=param_comb,  n_jobs=4,  verbose=3, random_state=0 )

In [134]:
random_search_best.fit(X_train, Y_train)

D:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
D:\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:271: UserWarning: The total space of parameters 4 is smaller than n_iter=5. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 4 candidates, totalling 12 fits

[Parallel(n_jobs=4)]: Done  10 out of  12 | elapsed:  8.5min remaining:  1.7min
[Parallel(n_jobs=4)]: Done  12 out of  12 | elapsed:  8.5min finished

RandomizedSearchCV(cv='warn', error_score='raise-deprecating',
          estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.6, gamma=5,
       learning_rate=0.02, max_delta_step=0, max_depth=11,
       min_child_weight=10, missing=None, n_estimators=600, n_jobs=1,
       nthread=1, objective='multi:softprob', random_state=1000,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1.0, verbosity=1),
          fit_params=None, iid='warn', n_iter=5, n_jobs=4,
          param_distributions={'scale_pos_weight': [1, 2, 6, 12]},
          pre_dispatch='2*n_jobs', random_state=0, refit=True,
          return_train_score='warn', scoring=None, verbose=3)

In [135]:
print('\n Best normalized gini score for %d-fold search with %d parameter combinations:' % (folds, param_comb))
print(random_search_best.best_score_ * 2 - 1)
print('\n Best hyperparameters:')
print(random_search_best.best_params_)

 Best normalized gini score for 5-fold search with 5 parameter combinations:
0.1568235294117648

 Best hyperparameters:
{'scale_pos_weight': 1}

In [136]:
Y_predict = random_search_best.predict(X_lead)

In [137]:
print(Y_predict)

['Medium' 'Low' 'Medium' ... 'Medium' 'Medium' 'Medium']

In [138]:
dict = {'VAR21': Y_predict} 
submit_df = pd.DataFrame(dict)

In [139]:
submit_df['VAR21']

0       Medium
1          Low
2       Medium
3          Low
4       Medium
5       Medium
6       Medium
7          Low
8       Medium
9          Low
10      Medium
11      Medium
12      Medium
13      Medium
14         Low
15      Medium
16      Medium
17      Medium
18         Low
19      Medium
20      Medium
21         Low
22      Medium
23      Medium
24      Medium
25      Medium
26      Medium
27      Medium
28      Medium
29      Medium
         ...
9970       Low
9971    Medium
9972    Medium
9973       Low
9974       Low
9975    Medium
9976    Medium
9977       Low
9978    Medium
9979    Medium
9980    Medium
9981    Medium
9982       Low
9983       Low
9984    Medium
9985       Low
9986    Medium
9987    Medium
9988       Low
9989    Medium
9990       Low
9991    Medium
9992    Medium
9993    Medium
9994    Medium
9995    Medium
9996       Low
9997    Medium
9998    Medium
9999    Medium
Name: VAR21, Length: 10000, dtype: object

In [140]:
submit_df.to_csv('Cheese_Maggi_IITRoorkee_52.csv')